/* All odd numbered elements */
p:nth-of-type(odd) {
  background-color: lightpink;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

/* Second element (the first div) */
div:nth-of-type(1) {
  color: blue;
  font-size: 36px;
}

/* Third element (the second <p>) */
p:nth-of-type(2) {
  background-color: lightpink;
  font-family: Verdana, "DejaVu Sans", sans-serif;
  font-size: 24px;
}

/* Fourth element (the second <div>) */
div:nth-of-type(2) {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}
