button{
  background-color:black;
  color:white;
  padding:10px;
  font-size:20px;
  text-align:center;
  border:2px solid black;
   font-size:28px;
}
button:nth-of-type(2)
{
  font-size:28px;
  color:black;
  background-color:yellow;
  font-weight:bold;
  border:2px solid grey;
  
}
