body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.container {
    background-color: yellowgreen;
    width: 100%;
    max-width: 370px;
    padding: 20px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    text-transform: capitalize;
}

#todoForm {
    display: flex;
    margin-bottom: 15px;
}

#input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 4px;
}

#btn {
    padding: 8px 15px;
    background: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 4px;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filter button {
    background: blueviolet;
    color: white;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
}

.filter button:hover {
    background: crimson;
}

.remove-all-box {
    text-align: center;
    margin-bottom: 15px;
}

#removeAll {
    background: crimson;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.7;
}

#removeAll:enabled {
    opacity: 1;
}

#removeAll:disabled {
    cursor: not-allowed;
}

#list {
    list-style: none;
    padding: 0;
}

#list li {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    align-items: center;
    background: white;
    margin-bottom: 7px;
    border-radius: 6px;
}

#list li.done span {
    text-decoration: line-through;
    color: gray;
}

#list li span {
    flex: 1;
}

.remove {
    background: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
