body {
  text-align: center;
  background: #181818;
  color: white;
  font-family: Arial;
}

.drum-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.drum {
  width: 120px;
  height: 120px;
  margin: 10px;
  background: #333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  transition: 0.1s ease;
  border: 3px solid #555;
}

/* When user presses a button */
.drum.active {
  background: orange;
  transform: scale(1.1);
}
